http_interactions:
- request:
    method: get
    uri: https://identifiers.org/rest/resources
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-application-context: application:pg
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "_embedded" : {
            "resources" : [ {
              "urlPrefix" : "http://www.ebi.ac.uk/intenz/query?cmd=SearchEC&ec=",
              "urlSuffix" : "",
              "urlResource" : "http://www.ebi.ac.uk/intenz/",
              "info" : "IntEnZ (Integrated relational Enzyme database)",
              "institution" : "European Bioinformatics Institute, Hinxton, Cambridge",
              "location" : "UK",
              "example" : "1.1.1.1",
              "official" : 0,
              "obsolete" : 0,
              "frameDeny" : 0,
              "convertPrefix" : "",
              "resourcePrefix" : "intenz",
              "_links" : {
                "self" : {
                  "href" : "https://identifiers.org/rest/resources"
                },
                "resource" : {
                  "href" : "https://identifiers.org/rest/resources"
                },
                "collection" : {
                  "href" : "https://identifiers.org/rest/resources/collection"
                },
                "statistics" : {
                  "href" : "https://identifiers.org/rest/resources/statistics"
                }
              }
            }, {
              "urlPrefix" : "http://www.genome.jp/dbget-bin/www_bget?ec:",
              "urlSuffix" : "",
              "urlResource" : "http://www.genome.jp/dbget-bin/www_bfind?enzyme",
              "info" : "KEGG Ligand Database for Enzyme Nomenclature",
              "institution" : "Kyoto University Bioinformatics Center",
              "location" : "Japan",
[...]
